body {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-family: 'Roboto';
}

main {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    background: #C0DBD9;
    color: #fff;
}
/************************************************************* HEADER START *************************************************************/
header {
    padding: 30px;
    background: #7FAFF6;
}

.button {
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background: #A5C7F9;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    padding: 8px 15px;
    color: #fff;
}

.button:hover {
    background: green;
    opacity: 0.5;
    transition: 100ms;
}

/************************************************************* FIRST BLOCK START *************************************************************/

.first_block {
    height: 411px;
    margin-top: 15px;
    display: flex;
    background: #B3F95A;
    counter-reset: e;
    flex-flow: row wrap;
}

.content {
    height: 198px;
    flex: 1 1 160px;
    background: #8AD191;
}

.first {
    flex: 1 1 390px;
    margin-right: 15px;
}

.second {
    flex: 1 1 590px;
    margin-right: 15px;
}

.third {
    flex: 1 1 160px;
}

.fourth {
    flex: 1 1 1005px;
    margin-right: 15px;
    margin-top: 15px;
} 

.fifth {
    flex: 1 1 160px;
    margin-top: 15px;
}

.content::before {
    height: 198px;
    background: #8AD191;
    font-weight: 400;
    font-size: 53px;
    line-height: 62px;
    display: flex;

    align-items: center;
    justify-content: center;

    counter-increment: e;
    content: counter(e);
}

/************************************************************* SECOND BLOCK START *************************************************************/

.second_block {
    margin-bottom: 100px;
    margin-top: 15px;
    background: #88B5BF;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0 30px;
}

.coub {
    min-width: 21%;
    max-width: 255px;
    height: 199px;
    background: #0D89B0;
}

/************************************************************* FOOTER START *************************************************************/

footer {
    background: #7FAFF7;
    display: flex;
    width: 1170px;
    height: 100px;
}

/************************************************************* POP UP START *************************************************************/

.pop_up {
    width: 370px;
    height: 370px;
    top: 20%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    
    padding: 15px;
    opacity: 0;
    transition: 200ms;
    background: #fff;
}

.pop_up:target {
    visibility: visible;
    opacity: 1;
}

.pop_up img {
    width: 13px;
    height: 23px;
}

.close {
    width: 43px;
    height: 39px;
    background: #7FAFF6;
    border-radius: 5px;
    border: none;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close:hover {
    opacity: 0.5;
    background: green;
    transition: 100ms;
}

.pop_up h1 {
    margin-top: 115px;
}